.container-fluid {
    margin-top: 20px;
}

.row {
    margin-bottom: 40px;
}

img {
    padding: 20px;
    border: 1px solid lightgrey;
}

.col-sm-7 {
    padding: 30px;
    border: 1px solid lightgrey;
}

.price-tag {
    color: green;
    font-weight: bold;
}

.price {
    color: #B12704!important;
    font-size: 24px;
}

.span-seller {
    font-weight: bold;
    font-size: 14px;
    color: grey;
}

.span-seller1 {
    font-weight: bold;
    font-size: 14px;
    margin-left: 60px;
}

.tax {
    font-size: 16px;
}

.Stock {
    font-weight: bold;
    font-size: 16px;
    color: green;
}

.Highlights {
    font-weight: bold;
    font-size: 14px;
    color: grey;
}

ul {
    margin-left: 80px;
}