img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 480px) {
    img {
      max-width: 30%;
    }
}

@media screen and (min-width: 480px) and (max-width: 992px) {
    img {
      max-width: 50%;
    }
}