<div class="container">
    <div class="row m-5 justify-content-center">
        <div class="card mb-3 col-lg-5 m-1" *ngFor="let product of products | async | filter: sort" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-lg-4 d-flex align-items-center">
                    <img class="card-img-top" src="{{ product.url }}" alt="Card image">
                </div>
                <div class="col-lg-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">Consequat voluptate ea quis et commodo. Consectetur aliquip exercitation officia ea aute. Laborum labore voluptate non enim. Ipsum officia exercitation exercitation qui enim id eu qui eu. Laborum sint duis amet consequat officia
                            consectetur ea pariatur. Eiusmod enim ipsum quis enim et sunt duis occaecat nostrud non quis. Et ullamco nostrud exercitation esse commodo ullamco mollit ut incididunt nulla mollit magna consequat.</p>
                        <p class="card-text"><small class="text-muted"><strong>Price : ₹{{ product.price }}</strong></small></p>
                        <button class="btn btn-success" (click)="add(product)">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>