<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">
    <div class="container">
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-outline-white btn-rounded">Sign up!</a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> MDBootstrap.com</a>
    </div>
</footer>