<div class="container-fluid">
    <div class="row" *ngFor="let a of data | async | filter: sort">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <img class="img-responsive" src="{{ a.url }}" height="400px" width="300px">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
            <h2>{{ a.title }}</h2>
            <p class="price-tag">Special Price :-</p>
            <p class="price">₹{{ a.price }}/- (Free Delivery on First Order)</p>
            <p class="tax">(Inclusive of all Taxes)</p>
            <p class="Stock">In Stock</p>
            <div>
                <p class="Highlights">Highlights : </p>
                <ul type="disc">
                    <li>{{ a.data1 }}</li>
                    <li>{{ a.data2 }}</li>
                    <li>{{ a.data3 }}</li>
                </ul>
            </div>
            <p><span class="span-seller">Seller :</span> <span class="span-seller1">NumBrave</span></p>
            <button class="btn btn-success" (click)="add(a)">
                Add to cart
            </button>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>