<div class="container">
    <div class="row">
        <div class="card mb-3 m-2 col-md-4" style="max-width: 400px;" *ngFor="let product of products; i as index">
            <div class="row no-gutters">
                <div class="col-md-4 align-items-center">
                    <img class="card-img-top" src="{{ product.url }}" alt="Card image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text"><small class="text-muted"><strong>Price: ₹{{ product.price }}</strong></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="center">Total Products: {{products.length}}</h2>

    <p class="text-center">
        <button type="button" class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
    </p>
</div>